@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Kaisei+Decol:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Kaisei+Decol&display=swap');

.ContactContainer {
    width: 88%;
    margin-left: 12%;
}

.ContactTitleContainer {
    width: 88%;
    display: flex;
    justify-content:flex-end;
}


.ContactSittingImg {
    height: 28rem;
    margin-bottom: -7.5rem;
    margin-right: 4rem;
    z-index: 1;
}

.ContactTitle {
  font-size: 5rem;
  font-family: 'Iceland', cursive;
  margin-bottom: -10rem;
  margin-top: 2.5rem;
}

.ContactBoxContainer {
    background-color: #22273E;
    width: 70%;
    height: auto;
    border-radius: 2%;
    padding: 20px;
    margin-left: 10%;
}

.ContactBoxTitle {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Iceland', cursive;
    font-family: 'Kaisei Decol', serif;
    margin-bottom: 2rem;
}

.contactConnectContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.contactEmailButton {
    /* width: 23%; */
    width: auto;
    padding: 0.7rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    column-gap: 0.5rem;
    border-width: 2px;
    border-color: #1482b6;
    border-style: solid;
    font-family: 'Iceland', cursive;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.contactEmailImg {
    height: 2rem;
    width: 2rem;
}

.contactPhoneButton {
    /* width: 23%; */
    width: auto;
    padding: 0.7rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    column-gap: 0.5rem;
    border-width: 2px;
    border-color: rgb(3, 153, 3);
    border-style: solid;
    font-family: 'Iceland', cursive;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.contactPhoneImg {
    height: 2rem;
    width: 2rem;
}

.contactLinkedinButton {
    /* width: 23%; */
    width: auto;
    padding: 0.7rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    column-gap: 0.5rem;
    border-width: 2px;
    border-color: rgb(34, 150, 204);
    border-style: solid;
    font-family: 'Iceland', cursive;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.contactLinkedinImg {
    height: 2rem;
    width: 2rem;
}

.contactGithubButton {
    /* width: 23%; */
    width: auto;
    padding: 0.7rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    column-gap: 0.5rem;
    border-width: 2px;
    border-color: rgb(3, 148, 206);
    border-style: solid;
    font-family: 'Iceland', cursive;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.contactGithubImg {
    height: 2rem;
    width: 2rem;
}

@media only screen and (max-width: 1040px) {
    .ContactBoxTitle {
        font-size: 2rem;
    }
    
}

@media only screen and (max-width: 860px) {
    .ContactBoxTitle {
        font-size: 1.5rem;
        float: left;
    }

    .ContactSittingImg {
        height: 24rem;
        margin-bottom: -7.5rem;
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 650px) {

    .ContactTitle {
        font-size: 3.5rem;
        margin-bottom: 0rem;
    }

    .ContactContainer {
        width: 95%;
        margin-left: 5%;
    }

    .ContactBoxContainer {
        margin-left: -3%;
        width: 85%;
        margin-top: 1rem;
    }

    .ContactSittingImg {
        height: 15rem;
        margin-right: -2rem;
        margin-top: -10rem;
    }

    .ContactBoxTitle {
        margin-top: 2.3rem;
    }
 
}

