.character-container {
    position: fixed;
    /* animation: mymove 10s; */
    width: 0;
    height: 0;  
    bottom: 7rem;
    transition: transform 1s;
    transform: rotate(-10deg);
    cursor: pointer;
  }

.fly-up {
  animation-name: fly-up;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fly-up {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(60rem, -70rem);
  }
  100% {
    transform: translate(0, -100%);
  }
}

  .flyingChar {
    width: 8rem;
    position: absolute;
    margin-top: -7rem;
    margin-left: 4.3rem;
    z-index: 1;
  }
  
  .character-container .rocketFire {
    position:absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity;
    cursor: pointer;
    height: 7rem;
  }

  .fly-up .visible {
    opacity: 1;
  }

  .character-container:hover .visible {
    opacity: 1;
  }
  
  .character-container .hidden {
    opacity: 0;
  }