@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Kaisei+Decol:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Kaisei+Decol:wght@400;500;700&display=swap');

.newCard {
    width: 84%;
    background: linear-gradient(259.16deg, #5bcd7a, black);
    display: flex;
}

.newCard div:nth-child(1) {
    flex: 1.7;
}

.newCard div:nth-child(2) {
    flex: 2;
}

.leftSec {
    margin: 40px;
}

.rightSec {
    /* background-color: black; */
}

.rightSecImage {
    /* float: right; */
    position: absolute;
    margin-left: 5rem;
    transition: transform 0.3s ease-in-out;
}

.newCard:hover .rightSecImage {
    transform: translateY(10px) translateX(10px);
}

.cardTitle {
    font-family: 'Iceland', cursive;
    font-family: 'Kaisei Decol', serif;
    font-size: 2.3rem;
    margin-bottom: 0.4rem;
}

.projectLabelsContainer {
    display: flex;
    margin-bottom: 2rem;
}

.project-duration,
.cardAppType,
.cardTeamOrSoloProject,
.newCardGitHubButton {
    padding: 4px 15px;
    margin-right: 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.project-duration {
    background-color: #3498db;
}

.cardAppType {
    background-color: #bf3f31;
}

.cardTeamOrSoloProject {
    background-color: rgb(23, 109, 59)
}

.cardDescription {
    font-size: 1.3rem;
    font-family: 'Kaisei Decol', serif;
    margin-bottom: 2rem;
}

.cardTechnologiesContainer {
    display: flex;
    column-gap: 0.5rem;
    row-gap: 0.6rem;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.eachCardTech {
    padding: 4px 15px;
    border-radius: 10px;
    color: white;
    background-color: hsla(0, 0%, 100%, .16);
    font-size: 1.05rem;
}

.newCardLinks {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}

.newCardVisitProjectButton {
    border: #cec4c4;
    border-radius: 100px;
    width: 40%;
    padding: 8px 15px;
    background-color: #0046FB;
    cursor: pointer;
    font-size: large;
    text-align: center;
    color: inherit;
    text-decoration: none;
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #0046FB, #1664eb, #0891be, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.newCardVisitProjectButton:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.newCardVisitProjectButton:focus {
    outline: none;
}

.newCardGitHubButton {
    cursor: pointer;
    background-color: #333;
}

.newCardGitHubButton:hover {
    color: #bfbfce;
}