@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Kaisei+Decol:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Kaisei+Decol:wght@400;500;700&display=swap');

.card {
    height: 650px;
    width: 400px;
    border-radius: 40px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px;
    /* box-shadow: 0px 0px 10px 0px #ffffff; */
    transition: box-shadow 0.5s;
    padding: 12px;
    /* display: flex;
    flex-direction: column; */
}

.card:hover {
    box-shadow: 0px 0px 1000px 20px #119fbe;
    border-color: #00d0ff;
    background-color: #0a0606;
}

.projectImg {
    height: 40%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.titleSection {
    display: flex;
    height: fit-content;
    margin-bottom: 15px;
    align-items: center;
    height: 13%;
    /* background-color: #0046FB; */
}

.titleSectionLeftSide {
    width: 50%;
    /* background-color: #6e6f72; */
    height: 90%;
}

.title {
    font-family: 'Iceland', cursive;
    font-family: 'Kaisei Decol', serif;
    font-size: 1.7rem;
    height: 55%;
    /* background-color: greenyellow; */
}

.HeartDiseasePrediction {
    font-family: 'Iceland', cursive;
    font-family: 'Kaisei Decol', serif;
    font-size: 1rem;
    height: 53%;
    padding-top: 1%;
    /* background-color: greenyellow; */
}

.titleSectionMiddleLine {
    width: 2px;
    height: 4.5rem;
    background-color:#02b8e0;
    margin-right: 0.5rem;
}

.date {
    font-family: 'Iceland', cursive;
    font-family: 'Kaisei Decol', serif;
    font-size: 17px;
    color: rgb(224, 219, 219);
}

.titleSectionRighttSide {
    /* padding-top: 11px; */
    /* background-color: #6e6f72; */
    height: 90%;
}

.appType   {
    /* font-size: large; */
    font-size: 1.7rem;
    font-family: 'Iceland', cursive;
    font-family: 'Kaisei Decol', serif;
    /* margin-bottom: 7px; */
    color: rgb(224, 219, 219);
    height: 55%;
    /* background-color: rgb(108, 145, 54); */
}

.teamOrSoloProject {
    font-size: large;
    font-family: 'Iceland', cursive;
    font-family: 'Kaisei Decol', serif;
    color: rgb(224, 219, 219);
}

.description {
    font-size: 1.2rem;
    font-family: 'Iceland', cursive;
    font-family: 'Kaisei Decol', serif;
    text-align: justify;
    height: 25%;
}

.technologies {
    font-size: larger;
    color: #ffffff;
    font-weight:bold;
    height: 10%;
    display: flex;
}

.technologiesWithSpecialStyling {
    font-size: larger;
    color: #ffffff;
    font-weight:bold;
    height: 10%;
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.visitProjectButton {
    border: #cec4c4;
    border-radius: 100px;
    width: 80%;
    padding: 8px 15px;
    font-weight: bold;
    background-color: #0046FB;
    cursor: pointer;
    font-size: large;
    text-align: center;
    color: inherit;
    text-decoration: none;
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #0046FB, #1664eb, #0891be, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.visitProjectButton:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.visitProjectButton:focus {
    outline: none;
}

.gitHubButton {
    font-size: 2.6rem;
    margin-left: 1rem;
    margin-top: 5px;
    cursor: pointer;
    color: #f4f4f5;
}

.gitHubButton:hover {
    color: #bfbfce;
}

@media only screen and (max-width: 555px){
    .title {
        font-size: 1.3rem;
    }

    .HeartDiseasePrediction {
        font-size: 0.8rem;
    }

    .date {
        font-size: 15px;
    }

    .teamOrSoloProject {
        font-size: 15px;
    }

    .appType {
        font-size: 1.3rem;
    }

    .technologies {
        font-size: 1.1rem;
    }
    
    .technologiesWithSpecialStyling {
        font-size: 1rem;
    }
  }