@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Kaisei+Decol:wght@500&display=swap');


.ProjectsContainer {
    margin-left: 16rem;
    width: 100%;
}

.ProjectsTitle {
  font-size: 5rem;
  font-family: 'Iceland', cursive;
  margin-bottom: 35px;
}

.Hashtag {
    background-image: linear-gradient(#00cffd, #ee0d0d);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Kaisei Decol', serif;
    font-weight: bold;
}

.cardsContainer {
  display: flex;
  gap: 3rem;
  width: 80%;
  flex-wrap: wrap;
}

