@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Kaisei+Decol:wght@500&display=swap');


.ProjectsContainer {
  width: 88%;
  margin-left: 12%;
}

.ProjectTitleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.ProjectsTitle {
  font-size: 5rem;
  font-family: 'Iceland', cursive;
  margin-bottom: 35px;
}

.ProjectsSittingImg {
  height: 15rem;
  margin-top: -5.5rem;
}

.line {
  width: 13rem;
  height: 0.4rem;
  margin-left: 1rem;
  overflow: hidden;
  background-image: linear-gradient(to right, #00cffd, #6b66a8, #6b66a8);
  border-radius: 30%;
}

.Hashtag {
  background-image: linear-gradient(#00cffd, #ee0d0d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Kaisei Decol', serif;
  font-weight: bold;
}

.cardsContainer {
  display: flex;
  gap: 3rem;
  /* width: 100%; */
  flex-wrap: wrap;
}


@media only screen and (max-width: 555px) {
  .ProjectsContainer {
    margin-left: -8px;
    width: 100%;
  }

  .ProjectTitleContainer {
    flex-direction: column;
    row-gap: 1.2rem;
    margin-bottom: 1rem;
  }

  .ProjectsTitle {
    font-size: 4rem;
  }

  .ProjectsSittingImg {
    height: 10rem;

  }

  .line {
    outline: none;
    visibility: hidden;
    opacity: 0;
  }

}