@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,300&display=swap");

.App {
  font-family: sans-serif;
  margin-left: 15px;
  color: white;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

* {
  font-family: "Titillium Web", sans-serif;
  /* margin-top: -0.3rem; */
}